<%- include('header', { user: user }) -%>
<main>
  <% if (errors) { %>
  <div>
    <% Object.keys(errors).forEach(function(key) { %>
    <div class="flex">
      <p class="error">Please update <%= errors[key].param %>:&nbsp;</p>
      <p><%= errors[key].msg %></p>
    </div>
    <% }); %>
  </div>
  <% } %>
  <h2 class="flex justify-content-center">
    What is a word, phrase, or sequence that reads the same backward as forward?
  </h2>
  <form action="" class="form-center">
    <label for="username">Answer: </label>
    <input name="answer" type="text" autocomplete="off" />
    <button type="submit" class="submitBtn">Submit</button>
  </form>
</main>
<%- include('footer') -%>
