<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="justify-content-between">
      <h1>
        <a href="/home" class="home">Members Only</a>
      </h1>
      <% if (user) { %>
      <div class="align-self-center">
        Welcome <%= user._doc.email %>, Member Status: <%= user._doc.status %>
      </div>
      <p class="align-self-center">
        <a href="/logout">logout</a>
      </p>
      <% } else { %>
      <p class="align-self-center">
        <a href="/login">login</a>
      </p>
      <% } %>
    </header>
