<%- include('header', { user: user }) -%>
<main>
  <% if (user) { %>
  <a href="/newmessage" class="remove-decoration">
    <button class="addBtn">+</button>
  </a>
  <% } %>
  <div>
    <% if (messages) { %>
    <div>
      <% messages.forEach(data => { %>
      <p><%= data._doc.message %></p>
      <p><%= data._doc.date %></p>
      <% }) %>
    </div>
    <% } %>
  </div>
</main>
<%- include('footer') -%>
