<%- include('header', { user: user }) -%>
<main>
  <form action="/login" method="POST">
    <label for="username">Username:</label>
    <input
      name="username"
      placeholder="username"
      type="text"
      autocomplete="off"
    />
    <label for="password">Password:</label>
    <input
      name="password"
      placeholder="password"
      type="password"
      autocomplete="off"
    />
    <button type="submit" class="submitBtn">Log In</button>
  </form>
  <div class="flex">
    <p>Don't have an account?</p>
    <a href="/signup"><p>Sign up</p></a>
  </div>
</main>
<%- include('footer') -%>
