body {
  padding: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-color: #12181b;
  color: #fff;
}

header {
  display: flex;
  padding: 1em 3em;
  margin-bottom: 1em;
  border: 2px solid #00b7ff;
}

main {
  padding: 3em;
  border: 2px solid #fa8142;
}

a {
  color: #00b7ff;
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0 0.5em;
}

input {
  margin: 0.83em;
  width: 140px;
  height: 26px;
}

button {
  width: 140px;
  height: 46px;
  border: 3px solid rgb(9, 195, 114);
  background-color: transparent;
  font-family: sans-serif;
  color: rgb(178, 190, 205);
  font-weight: 700;
  font-size: 16px;
}

button:hover {
  background-color: rgb(9, 195, 114);
  color: #fff;
}

.flex {
  display: flex;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.form-center {
  margin: auto;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 500px;
  margin: 2em 0;
}

.form-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
}
